<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IService1" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/Solution5/Service1/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:8842/Service1/" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IService1" contract="ServiceReference.IService1"
        name="WSDualHttpBinding_IService1">
        <identity>
          <userPrincipalName value="TORDIPAD\bubbl" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>